################################################################################
syntax: glob

.directory
*.orig
*.rej
*~
.git/
.git-rewrite/
sql/world.sql

################################################################################
syntax: regexp
