################################################################################
syntax: glob

.directory
*.orig
*.rej
*~
.git/
.git/
*.*-*
sql/world.sql

################################################################################
syntax: regexp

etc
bin
lib
patches
^scripts
