################################################################################
syntax: glob

.directory
*.orig
*.rej
*~
.git/
.git-rewrite/


################################################################################
syntax: regexp
