################################################################################
syntax: glob

SunScripts

################################################################################
syntax: regexp
