################################################################################
syntax: glob

Sunstrider-Scripts

################################################################################
syntax: regexp
