################################################################################
syntax: glob

modules

################################################################################
syntax: regexp
