[Unit]
Description=Suntrider World Server

Wants=network.target
After=network.target

[Service]
User=suncore
Group=suncore

WorkingDirectory=/srv/suncore/dumps
#remove core dumps and logs older than last 5 runs. 
ExecStartPre=/srv/suncore/sources/contrib/sunstrider/systemd/logrotate.sh /srv/suncore/logs/logrotate_status /srv/suncore/sources/contrib/sunstrider/systemd/logrotate.conf
ExecStartPre=/bin/bash -c "ls -1tr | head -n -5 | xargs -d '\n' rm -f"
ExecStart=/srv/suncore/bin/worldserver

Restart=always
RestartSec=3

LimitCORE=infinity

StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
