[Unit]
Description=Execute backup every day at 4 am

[Timer]
OnCalendar=*-*-* 04:00:00
Unit=sunworldserver_backup.service

[Install]
WantedBy=multi-user.target
